body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
}

input, p {
  font-size: 14px;
}

.btn {
  background-color: #20A4F3;
  color: #fff;
  padding: 6px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}